body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Noto Serif', serif;
    color: white;
}
nav ul{
    display:flex;
    list-style-type: none;
    align-items: center;
    background-color: black;
    height: 72px;

}
.brand img{
    width:40px;
    padding: 0px 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0 12px;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    background-image: url('playing.gif');
    background-position: center;
    background-size: 0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;


}

.icons{
    margin: 12px;
}

.icons i{
    cursor: pointer;
}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Noto Serif', serif;
    display: flex;
    width:78%;
    margin: 12px auto;
    border-radius: 12px;
    padding: 12px;
    background-image: url('bg.jpg');
    background-size:cover;


}




#myProgressBar{
    width: 80vw;
    cursor:pointer;
    
  

}

.songItem
{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;

}

.songItem img{
    width:40px;
    margin: auto 5px;
    border-radius: 40px;
    
}
.timeStamp{
    margin: 0px 20px;
}
.songItem span{
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
}

.timeStamp i{
    cursor:pointer
}

.songItemsContainer{
    margin: 40px;
}

.songInfo{
    position: absolute;
    left: 9.8vw;
    font-family: 'Noto Serif', serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}